<!DOCTYPE html>
<html>

<head>
    <title>Dettagli Film</title>
    <link rel="stylesheet" href="/css/stile.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
    
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header {
            width: 100%;
        }

        .navbar {
            display: flex;
            align-items: center;
        }

        .star {
            color: gold;
        }

        .card {
            width: 500px;
            height: 500px;
            background-color: transparent;
            padding: 20px;
            margin-top: 20px;
        }

        .movie-card img {
            width: 10%;
            margin-bottom: 10px;
        }

        .movie-card h2 {
            margin-bottom: 5px;
        }

        .movie-card p {
            margin-bottom: 10px;
        }

    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-transparent">
            <div class="container-fluid">
                <div th:if="${#request.userPrincipal}">
                    <span th:text="${#request.userPrincipal.principal.username}"></span>
                    <a href="/logout"><button type="button" class="btn btn-outline-light">Logout</button></a>
                </div>
                <a href="/"><button type="button" class="btn btn-outline-light ml-auto">Home</button></a>
            </div>
        </nav>
    </header>

    <div>
        <a href="/"><img src="/images/logo-siw.png" width="50%" /></a>
    </div>
    
           
        
        <div id="carouselExampleFade" class="carousel slide carousel-fade" style="max-width: 50%;">
  <div class="carousel-inner">
    <div class="carousel-item active">
		<div th:if="${movie.picture!=null}">
      <img th:src="@{'data:image/;base64,' + ${movie.picture.base64Image}}" class="d-block w-100" alt="Copertina">
      </div>
    </div>
    
    <div class="carousel-item" th:if="${!movie.images.isEmpty()}" th:each="image : ${movie.images}">
      <img th:src="@{'data:image/;base64,' + ${image.base64Image}}" class="d-block w-100" alt="...">
    </div>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: darkgreen;"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: darkgreen;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        
        
    <div th:if="${movie}">
        <div class="card text-center text-white">         
            <div class="card-body">
                <h2 class="card-title" th:text="${movie.title}"></h2>
                <p class="card-text" th:text="${movie.year}"></p>
                <div th:if="${movie.director}">
                    <h3>Regista:</h3>
                    <a th:href="@{'/artist/' + ${movie.director.id}}"
                        th:text="${movie.director.name} + ' ' + ${movie.director.surname}"></a>
                </div>
                <div th:if="${!movie.actors.isEmpty()}">
                    <h3>Cast:</h3>
                    <ul>
                        <li th:each="actor : ${movie.actors}">
                            <a th:href="@{'/artist/' + ${actor.id}}"
                                th:text="${actor.name} + ' ' + ${actor.surname}"></a>
                        </li>
                    </ul>
                </div>
                <div th:if="${movie.reviews == null || movie.reviews.isEmpty()}">Non ci sono recensioni per tale film nel
                    sistema</div>
                    
                
                    
                 <span>La media di tutte le recensioni e</span> <span th:text="${media}"></span>
                <div th:unless="${movie.reviews.isEmpty()}">
                    Recensioni:
                    <ul>
                        <li th:each="rev : ${movie.reviews}">
                            <div th:text="${rev.title}"></div>
                            <div th:text="${rev.text}"></div>
                            <span th:if="${rev.rating >= 1}" class="star">&#9733;</span>
                            <span th:if="${rev.rating >= 2}" class="star">&#9733;</span>
                            <span th:if="${rev.rating >= 3}" class="star">&#9733;</span>
                            <span th:if="${rev.rating >= 4}" class="star">&#9733;</span>
                            <span th:if="${rev.rating >= 5}" class="star">&#9733;</span>
                            <div th:text="'Scritto da' + ' ' +${rev.owner.name}"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a href="/movies" class="btn btn-lg btn-success" style="margin-top: 40px;">Torna alla lista dei film</a>
    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
   

</body>

</html>
