<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/stile.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<style>
		body {
			padding: 20px;
			font-size: 18px;
			color: white;
		}

		a {
			color: white;
		}

		h1 {
			color: white;
		}

		.card {
			border-color: green;
			border-radius: 10%;
			background-color: transparent;
		}

		.card:hover {
			background-color: rgba(0, 128, 0, 0.3);
		}

		.list-group-item {
			border-color: green;
			border-radius:10%;
			background-color:transparent;
		}
		.text-center  {
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<header class="navbar navbar-expand-lg navbar">
		<div class="container justify-content-center">
			<a class="navbar-brand">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cast"
					viewBox="0 0 16 16">
					<path
						d="m7.646 9.354-3.792 3.792a.5.5 0 0 0 .353.854h7.586a.5.5 0 0 0 .354-.854L8.354 9.354a.5.5 0 0 0-.708 0z" />
					<path
						d="M11.414 11H14.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h3.086l-1 1H1.5A1.5 1.5 0 0 1 0 10.5v-7A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v7a1.5 1.5 0 0 1-1.5 1.5h-2.086l-1-1z" />
				</svg>
				<em>SiwMovie</em>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item position-absolute top-0 start-0">
						<a class="nav-link" href="/home">
							<button type="button" class="btn btn-outline-light">Home</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">
							<button type="button" class="btn btn-outline-light">Disconnettiti</button>
						</a>
					</li>

				</ul>
			</div>
			<span class="ml-auto">
				<a class="btn btn-outline-light" href="/register">Non sei ancora registrato? Registrati!</a>
			</span>
		</div>
	</header>

	<div>
		<a href="/"><img src="/images/logo-siw.png" width="50%" /></a>
	</div>
	
	<div class="container d-flex justify-content-center align-items-center">
		<div class="text-center">
			<div class="col-6">
				<h1><em>Film</em></h1>
				<div th:if="${movies==null || movies.isEmpty()}">Non ci sono film nel sistema</div>
				
				<div class="card-columns">
					<a th:each="movie : ${movies}" th:href="@{'/movie/' + ${movie.id}}" class="card bg-dark"
						style="width: 18rem;">
						<ul class="list-group list-group-flush">
            				<li class="list-group-item text-white text-center" th:text="${movie.title + ' ' + movie.year}"></li>
          				</ul>
					</a>
				</div>
			</div>
		</div>		
	</div>
	
	
	



</body>

</html>
